xenelectronic-backend/node_modules
xenelectronic-frontend/node_modules
xenelectronic-backend/package-lock.json
xenelectronic-frontend/package-lock.json
xenelectronic-frontend/node_modules
xenelectronic-frontend/.next
xenelectronic-frontend/out